[**ggtype API Documentation v0.5.1**](../README.md)

***

# Type Alias: ValidationResult

> **ValidationResult** = `ReturnType`\<*typeof* [`compileModelAndCheck`](../functions/compileModelAndCheck.md)\>

Defined in: [src/utils/compile-model.ts:116](https://github.com/samuelgja/ggtype/blob/6b3789cc61c56ec21e320bad94929a3a13255abb/src/utils/compile-model.ts#L116)
