[**ggtype API Documentation v0.6.0**](../README.md)

***

# Type Alias: ValidationResult

> **ValidationResult** = `ReturnType`\<*typeof* [`compileModelAndCheck`](../functions/compileModelAndCheck.md)\>

Defined in: [src/utils/compile-model.ts:116](https://github.com/samuelgja/ggtype/blob/main/src/utils/compile-model.ts#L116)
