node_modules
.yarn
dist/
clickhouse.db
.npmrc
node_modules/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
certs/

# macOS
.DS_Store
bunfig.toml
web/.next
web/public/_pagefind
playwright-report
test-results/